---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Yet Another 11ty <strong>Boilerplate</strong></h1>
<img alt="pine" src="/images/pine.png" width="50" />

{% include '_card.liquid' | planet_name = "Mercury" %}