:root {
    --main-background-secondary-text: #0C1B33;
    --main-text-secondary-background: #DDDDDD;
    --border-hover: #FE5E41;
    --planet-border-radius: 50%;
    --planet-border: 3px solid var(--main-background-secondary-text);
}

body {
    font-family: "Rubik", Helvetica, sans-serif;
    font-weight: 350;
    color: var(--main-text-secondary-background);
    background: var(--main-background-secondary-text);
    padding: 0 40px;
    text-align: center;
}

h1 {
    text-align: left;
    font-size: 4em;
}

.cards_container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.cards {
    background: var(--main-text-secondary-background);
    color: var(--main-background-secondary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

.cards:hover {
    border: 5px solid var(--border-hover);
}

.card_title {
    font-size: 24px;
}

.planet_drawing {
    margin-bottom: 20px;
}

#Sun_card {
    grid-row: 1 / 3;
}

.card_title_sun {
    font-size: 48px;
}

.au_card_sun {
    font-size: 20px;
}

#Sun_drawing {
    height: 250px;
    width: 250px;
    background: rgb(255,246,0);
    background: linear-gradient(15deg, rgba(255,246,0,1) 14%, rgba(255,182,0,1) 100%);
    border-radius: var(--planet-border-radius);
    border: var(--planet-border);
}

#Mercury_drawing {
    height: 75px;
    width: 75px;
    background: rgb(129,129,11);
    background: radial-gradient(circle, rgba(129,129,11,1) 0%, rgba(121,51,20,1) 35%, rgba(46,38,6,1) 100%);
    border-radius: var(--planet-border-radius);
    border: var(--planet-border);
}

#Venus_drawing {
    height: 125px;
    width: 125px;
    background: linear-gradient(0deg, rgba(174,143,86,1) 0%, rgba(158,156,115,1) 50%, rgba(233,227,210,1) 100%);
    border-radius: var(--planet-border-radius);
    border: var(--planet-border);
}

#Earth_drawing {
    height: 125px;
    width: 125px;
    background: rgb(46,150,37);
    background: linear-gradient(0deg, rgba(46,150,37,1) 20%, rgba(20,62,203,1) 100%); 
    border-radius: var(--planet-border-radius);
    border: var(--planet-border);
}

#Mars_drawing {
    height: 100px;
    width: 100px;
    background: rgb(131,32,15);
    background: linear-gradient(0deg, rgba(131,32,15,1) 20%, rgba(147,160,82,1) 100%);  
    border-radius: var(--planet-border-radius);
    border: var(--planet-border);
}

#Jupiter_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: var(--planet-border);
}

#Saturn_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: var(--planet-border);
}

#Uranus_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: var(--planet-border);
}

#Neptune_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: var(--planet-border);
}