:root {
    --main-background-secondary-text: #0C1B33;
    --main-text-secondary-background: #DDDDDD;
    --border-hover: #FE5E41;
    --planet-border-radius: 50%;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--main-text-secondary-background);
    background: var(--main-background-secondary-text);
    padding: 0 40px;
    text-align: center;
}

h1 {
    text-align: left;
    font-size: 4em;
}

.cards_container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.cards {
    background: var(--main-text-secondary-background);
    color: var(--main-background-secondary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

.cards:hover {
    border: 5px solid var(--border-hover);
}

.card_title {
    font-size: 24px;
}

.planet_drawing {
    margin-bottom: 20px;
}

#Sun_card {
    grid-row: 1 / 3;
}

.card_title_sun {
    font-size: 48px;
}

.au_card_sun {
    font-size: 20px;
}

#Sun_drawing {
    height: 250px;
    width: 250px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: 3px solid var(--main-background-secondary-text);
}

#Mercury_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: 3px solid var(--main-background-secondary-text);
}

#Venus_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: 3px solid var(--main-background-secondary-text);
}

#Earth_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: 3px solid var(--main-background-secondary-text);
}

#Mars_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: 3px solid var(--main-background-secondary-text);
}

#Jupiter_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: 3px solid var(--main-background-secondary-text);
}

#Saturn_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: 3px solid var(--main-background-secondary-text);
}

#Uranus_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: 3px solid var(--main-background-secondary-text);
}

#Neptune_drawing {
    height: 125px;
    width: 125px;
    background: #ff0000;
    border-radius: var(--planet-border-radius);
    border: 3px solid var(--main-background-secondary-text);
}